// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);
:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #1a1a1a;
  --main-text-color-dark: #0d0d0d;
  /* Fashion: Black & Gold */
  --color-primary: #C9A84C;
  --color-primary-d: #a8863a;
  --color-primary-l: #e2c070;
  --color-primary-reverse: #ffffff;
  --color-text: #555555;
  --bg-gray: #f7f5f0;
  --color-grey: #f5f3ee;
  --color-light-grey: #e8e4dc;
  /* font-size */
  --font-sm: 0.8685714286rem;
  --font-main: "DINNextLTArabic";
  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
